.header {}

.header__top {
  position: relative;
  padding: 20px 0;
  margin-bottom: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #4b4b4b;
  }
}

.header__descr {
  text-align: center;
  font-size: 30px;
}

.start-block__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header__quiz-btn {}

.header__back-btn {
  padding-left: 40px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  margin: 10px 0;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%) rotate(0deg);
    left: 14px;
    height: 12px;
    width: 12px;
    background: url('../img/icons/arrow-left-solid.svg') center / 100% no-repeat;
    transition: left .3s;
  }

  @media (min-width: 1024px) {
    &:hover {
      &::after{
        left: 10px;
      }
    }
  }
  &._visible{
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  .header__descr{
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .header__descr{
    font-size: 20px;
  }
}