.header{
  
}
.header__top {
  position: relative;
  padding: 20px 0;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #4b4b4b;
  }
}

.header__descr{
  text-align: center;
  font-size: 30px;
}

.start-block__btns{
  display: flex;
  column-gap: 10px;
}

.header__quiz-btn {
 
}