.main__block {}

//==============================================================================
.start-block {
  display: none;

  &._active {
    display: block;
  }
}

.start-block__title {
  margin-bottom: 20px;
}

.questions {}

.start-block__btns {
  margin-bottom: 20px;
}

.start-block__btn {}

.switch-btn {}

.start-block__start-btn {
  height: 50px;
  width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #4b4b4b;
  transition: box-shadow;
  margin-top: 70px;

  @media (min-width: 1024px) {
    &:hover {
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

//============================================================================
.quiz-block {
  display: none;

  &._active {
    display: block;
  }
}

.quiz-block__body {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #4b4b4b;
  }
}

.quiz-block__info {
  max-width: 300px;
  width: 100%;
  font-size: 20px;
}

.quiz-block__question {
  margin-bottom: 40px;
}

.quiz-block__info-questions {
  margin-bottom: 20px;
}

.quiz-block__info-questions-answered {}

.quiz-block__info-questions-total {}

.quiz-block__info-correct-answer-count,
.quiz-block__info-incorrect-answer-count {
  color: #00ff22;
  display: inline-block;
  background: #000;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.quiz-block__info-incorrect-answer-count {
  color: #ff0000;
}

.quiz-block__answers {}

.quiz-block__answer {
  margin-bottom: 40px;
}

.quiz-answer__checkbox {
  margin-bottom: 10px;
}

.quiz-block__next-btns {
  display: flex;

}

.quiz-block__next-btn {
  margin-right: 20px;
}

.quiz-block__reload-btn {
  opacity: 0;
  visibility: hidden;

  &._visible {
    opacity: 1;
    visibility: visible;
  }
}

.quiz-block__btn {}

.quiz-block__results-link {}

//questions block ==============================================

.questions-block {
  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    visibility: visible;
  }
}

.questions-block__inner {}

.questions-block__question {
  margin-bottom: 40px;
}

.question {}

.questions-block__body {
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #4b4b4b;
  }
}

.questions-block__answers {}

.questions-block__next-btns {
  display: flex;
  margin-bottom: 20px;
}

.questions-block__answer-btn {
  margin-right: 20px;
}

.questions-block__next-btn {
  margin-right: 20px;
}

.questions-block__reload-btn {
  opacity: 0;
  visibility: hidden;
  &._visible{
    opacity: 1;
    visibility: visible;
  }
}

.questions-block__info {
  margin-bottom: 10px;
}

.questions-block__info-questions {}

.questions-block__info-questions-answered {}

.questions-block__info-questions-total {}

.questions-block__results-descr {}

.questions-block__results-link {}