body {}

body._active-popup {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(23, 27, 36, 0.6);
  z-index: 5000;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.popup._active {
  opacity: 1;
  visibility: visible;
}

.popup__table {
  display: table;
  width: 100%;
  height: 100vh;
}

.popup__table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

.popup__window {
  display: inline-block;
  max-width: 610px;
  width: 100%;
  padding: 36px;
  margin: 50px 0;
  background: #fff;
}

.popup__close {
  height: 52px;
  width: 52px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 48px;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform .3s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: 1024px) {
    &:hover {
      
    }
  }
}