.js-custom-select__options{
  display: none;
}

.js-custom-select__options._active{
  display: block;
}

.js-custom-select__input{
  visibility: hidden;
  opacity: 0;
  appearance: none;
  height: 1px;
  width: 1px;
  font-size: 1px;
  line-height: 1px;
  position: absolute;
  z-index: -1;
}